/*
!.gitignore

!.zshrc
!.local/bin/

!.dwm/
!.config/dwm
!.config/dmenu
!.config/dwmblocks

!.config/tmux
!.config/zsh
!.config/nvim
!.config/picom
!.config/alacritty

# Ignorar arquivos compilados
*/bak.git
.config/dwm/bak.git
.config/dwmblocks/bak.git
.config/dmenu/bak.git

.config/dwm/dwm
.config/dwm/*.o

# Backups e temporários
.config/dwm/*~
.config/dwm/*.swp
.config/dwm/*.swo
.config/dwm/*.bak
.config/dwm/*.tmp
.config/dwm/*.old

# Logs
.config/dwm/dwm.log

